PORT = 5000 
MONGODB_URL = mongodb+srv://owaisiqbal2021:EduTrack123@cluster0.3ehm2.mongodb.net 
ACCESS_TOKEN_SECRET = OTUCkcyqgZAaM0ogRHVIg9GG_Gzh9zMocyO3UtNdDNtoJ0X0-5n3Dmvkx08MCFRSLD9cv1kBfLwk7fdO 
ACCESS_TOKEN_EXPIRY = 30s 
REFRESH_TOKEN_SECRET = CJ0X0-5aMDNtowD9cv0oVIg9GG_OGzh9zMocyO3UtN1kBfLRn3Dkmx08MCFRSLHVTUKcyqgZAK7fdO 
REFRESH_TOKEN_EXPIRY = 10d
CORS_ORIGIN = *